body{

font-family:Segoe UI, sans-serif;

background:#f5f7fb;

}

.hero{

background:url("../images/sekolah.jpg");

background-size:cover;

background-position:center;

height:650px;

}

.overlay{

background:rgba(0,0,0,.55);

height:100%;

display:flex;

align-items:center;

justify-content:center;

color:white;

}

.hero h1{

font-size:60px;

font-weight:bold;

}

.hero h2{

font-size:35px;

margin-bottom:20px;

}

.card{

border:none;

border-radius:20px;

transition:.3s;

}

.card:hover{

transform:translateY(-10px);

}

footer{

margin-top:80px;

}
